*{
  margin: 0;
  padding: 0;}

header{
  background-color: rgb(50, 167, 145);
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center
}


header input{
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}


header button {
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    background-color:  blueviolet;
    color: white;
    font-size: 20px;
}

.nome-sobrenome{
    margin-top: 50px;
    
}


main input{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}


form{
    
    display: flex;
}

#input-name{
    width: 50%;
}

#input-lastname{
    width: 50%;
}

#input-email{
    width: 100%;
}

#divPaiEmail{
    display: flex;
}
.email-casa{
    width: 50%;
}

#casaDiv{
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

select{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;

}

.divfamily{
    display: flex;
    flex-direction: column;
    
    width: 50%;
}

#divCheckPai{
    display: flex;
    width: 50%;
    flex-direction: column;
}

#section2{
    display: flex;
    margin-top: 10px;
}

#divCheck{
    display: flex;
}

#labelPrincipal{
    text-align: justify;
}

#divCheck{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
#divRate{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
label{
    font-size: 25px;
}

textarea{
    width: 100%;
}



main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#evaluation-form{
    display: flex;
    width: 675px;
    flex-direction: column;
}

#trybewarts-forms-logo{
    height: 500px;
}
.nome-sobrenome{
    display: flex;
}
.email-casa{
    display: flex;
}

footer{
    text-align: center;
    bottom: 0;
    background-color: rgb(50, 167, 145);
    position: fixed;
    width: 100%;
}

#counter{
height: 0;
width: 0;
top: -25px;
left: 95%;
position: relative;
      

}
