*{margin: 0;
padding: 0;}

header{
    background-color: rgb(50, 167, 145);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center
}
form{
    display: flex;
}
img{
    padding: 20px
}

#evaluation-form{
    display: flex;
    width: 675px;
    flex-direction: column;
}
main{
    display: flex;
}
#trybewarts-forms-logo{
    height: 500px;
}