*{margin: 0;
padding: 0;}

header{
    background-color: rgb(50, 167, 145);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center
}
img{
    padding: 20px
}


.login-header{
    

}